
.footer{
    margin: auto;
    width: 80%; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 2rem 2rem 2rem;
}
.company>li , .general>li , .more>li,.pages>li,.logo>li{
    color:black;
    font-weight: 500;
    padding:0.4rem;
    cursor: pointer;
}
.logoHeading{
    text-shadow: 2px 2px 4px black;
    font-size: 2rem;
    color:yellow;
    word-spacing:4px;
}
.heading{
    color:rgb(234, 74, 74);
}
@media screen and (max-width:780px) {
    .heading{
        padding-bottom: 2px;
    }
}